.key-dates-icon-pattern {
    user-select: none;
    opacity: 10%;
}

.icon-pattern-panel-1 {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.icon-pattern-panel-2 {
    align-items: flex-end;
    display: none;
    justify-content: space-between;
    position: relative;
}

.icon-pattern-panel-3 {
    align-items: center;
    display: none;
    justify-content: space-between;
    padding-left: 5%;
    position: relative;
}

/* panel-1 */
.icon-pattern-dots {
    bottom: 10%;
    color: #199696;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    left: 5%;
    position: absolute;
    width: 112px;
}

.icon-pattern-dot {
    background: #199696;
    height: .75rem;
    width: .75rem;
}

.icon-pattern-dollar {
    color: #FFEBB4;
    font-size: 65px;
    padding-top: 5%;
    transform: translate(-45%, 0);
}

.icon-pattern-parenthesis-open {
    color: #FFEBB4;
    font-size: 45px;
}

.icon-pattern-pound {
    color: #FFF;
    font-size: 30px;
    margin: 10% 0 0 -16%;
}

.icon-pattern-slash {
    color: #199696;
    font-size: 65px;
    transform: translate(-100%, 20%);
}

/* panel-2 */
.icon-pattern-exclamation {
    color: #FFEBB4;
    font-size: 80px;
    margin-left: -15%;
}

.icon-pattern-less-than {
    color: #199696;
    font-size: 65px;
    left: 5%;
    line-height: 67px;
    position: absolute;
    top: 0;
}

.icon-pattern-pound-row {
    color: #FFF;
    font-size: 30px;
    padding-left: 5%;
}

.icon-pattern-plus {
    color: #FFEBB4;
    font-size: 65px;
}

.icon-pattern-equals {
    color: #FFEBB4;
    font-size: 80px;
    line-height: 67px;
}

/* panel-3 */
.icon-pattern-at {
    color: #FFEBB4;
    font-size: 52px;
}

.icon-pattern-question {
    color: #FFF;
    font-size: 52px;
}

.icon-pattern-dashed {
    width: 2rem;
    overflow: hidden;
}

.icon-pattern-dash {
    color: #FFF;
}

.icon-pattern-parenthesis-close {
    color: #199696;
    font-size: 65px;
}

.icon-pattern-panel-3 .icon-pattern-pound {
    padding: 0;
}

@media(min-width: 992px) {
    .key-dates-icon-pattern {
        margin: 0 -15px;
        opacity: 20%;
    }

    .icon-pattern-panel-1 {
        width: 80%;
    }

    .icon-pattern-panel-2, .icon-pattern-panel-3 {
        display: flex;
    }

    /* panel-1 */
    .icon-pattern-dollar {
        transform: none;
    }

    .icon-pattern-pound {
        margin: 0;
        padding: 5% 5% 0;
    }

    .icon-pattern-slash {
        transform: none;
    }
}

@media(min-width: 1200px) {
    .key-dates-icon-pattern {
        margin: 0 -30px;
    }
}
