.hp-body .team-section {
    background: url(/images/Team-Background.svg) no-repeat bottom right #E6F5F0;
    background-size: 764px 144px;
    margin-top: -20px;
}

.hp-body .team-title {
    color: #465A69;
    margin-bottom: 54px;
    margin-top: 46px;
    padding-left: 15px;
}

.card {
    background-color: #232323;
    border-radius: 15px;
    display: flex;
    height: 140px;
    padding: 24px 27px 50px 27px;
    position: relative;
    margin-bottom: 34px;
    z-index: 1;
}

.card-image {
    display: inline-block;
    height: 95px;
    max-width: 95px;
    padding: 10px 0 8px 22px;
}

.team-section-container {
    display: block;
    width: 325px;
    margin-bottom: 34px;
    margin-right: 44px;
}

.card-body {
    display: inline-block;
    padding-top: 12px;
    padding-left: 18px;
}

.card-title, .card-text {
    font-family: Optimistic Text;
}

.hp-body .card-title {
    color: #FFDE89;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.team-background {

    bottom: 71%;
    left: 43%;
    position: fixed;
    top: 64%;
    z-index: 0;
}

.card-text {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-align: left;
}

@media(min-width: 992px) {
    .card {
        margin-right: 44px;
        width: 325px;
    }

    .card-body {
        padding-top: 32px;
        padding-left: 20px;
    }
    .hp-body .team-section {
        background: url(/images/Team-Background.svg) no-repeat bottom right #E6F5F0;
        background-size: 816px 302px;
    }
}

@media(min-width: 1200px) {
    .card {
        max-width: 382px;
    }

    .card-body {
        padding: 24px 0 0 18px;
    }

    .hp-body .team-title {
        margin-top: 74px;
    }
}
