<footer class="footer">
        <p class="footer-content">&copy;2021 All Rights Reserved.</p>
        <div class="footer-icon-container">
            <a class="footer-link" href="{{site.facebook_url}}" target="_blank">
                <img class="footer-icon" src="{{site.images_uri | relative_url}}Facebook_Icon.svg" alt="Facebook" />
            </a>
            <a class="footer-link" href="{{site.twitter_url}}" target="_blank"}>
                <img class="footer-icon" src="{{site.images_uri | relative_url}}Twitter_Icon.svg" alt="Twitter" />
            </a>
        </div>
</footer>
