<footer class="footer">
    <div class="container">
        <p class="footer-content">&copy;2021 All Rights Reserved.</p>
        <div class="footer-icon-container">
            <a href="{{site.facebook_url}}"}>
                <img class="footer-icon" src="{{site.facebook_icon | relative_url}}" alt="Facebook" />
            </a>
            <a href="{{site.twitter_url}}"}>
                <img class="footer-icon" src="{{site.twitter_icon | relative_url}}" alt="Twitter" />
            </a>
        </div>
    </div>
</footer>
