<header>
    <div class="header-wrapper">
        <div class="header-alignment wrapper">
            {% if site.logo %}
            <a href="{{ '/' | absolute_url }}"><img class="header-logo" src="{{site.logo | relative_url}}" alt="Logo" /></a>
            {% endif %}

            <div class="header-description">
                {{ site.description_v2 | default: site.github.project_tagline }}
                <div class="sub-header-description">{{ site.description_subhead_v2 }}</div>
            </div>
        </div>
    </div>
</header>
