<div class="container">
    <h2 class="key-dates-title">KEY DATES</h2>
    <div class="key-dates-wrapper">
        <div class="key-date col-md-4">
            <h3 class="key-dates-date">{{page.date1}}</h3>
            <p class="key-dates-desc">{{page.date1desc}}</p>
        </div>
        <div class="key-date col-md-4">
            <h3 class="key-dates-date">{{page.date2}}</h3>
            <p class="key-dates-desc">{{page.date2desc}}</p>
        </div>
        <div class="key-date col-md-4">
            <h3 class="key-dates-date">{{page.date3}}</h3>
            <p class="key-dates-desc">{{page.date3desc}}</p>
        </div>

        <div class="key-dates-icon-pattern">
            <div class="key-date col-md-4">
                <div class="icon-pattern-panel-1">
                    <div class="icon-pattern-parenthesis-open">(</div>
                    <div class="icon-pattern-pound">#</div>
                    <div class="icon-pattern-dollar">$</div>
                    <div class="icon-pattern-dots">
                        <div class="icon-pattern-dot"></div>
                        <div class="icon-pattern-dot"></div>
                        <div class="icon-pattern-dot"></div>
                        <div class="icon-pattern-dot"></div>
                        <div class="icon-pattern-dot"></div>
                    </div>
                    <div class="icon-pattern-slash">/</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-pattern-panel-2">
                    <div class="icon-pattern-exclamation">!</div>
                    <div class="icon-pattern-less-than"><</div>
                    <div class="icon-pattern-pound-row">######</div>
                    <div class="icon-pattern-plus">+</div>
                    <div class="icon-pattern-equals">=</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-pattern-panel-3">
                    <div class="icon-pattern-at">@</div>
                    <div class="icon-pattern-question">?</div>
                    <div class="icon-pattern-dashed">
                        <div class="icon-pattern-dash">|</div>
                        <div class="icon-pattern-dash">|</div>
                        <div class="icon-pattern-dash">|</div>
                        <div class="icon-pattern-dash">|</div>
                    </div>
                    <div class="icon-pattern-pound">#</div>
                    <div class="icon-pattern-parenthesis-close">)</div>
                </div>
            </div>
        </div>
    </div>
</div>
