<div class="team-section-container container">
  <h2 class="team-title">TEAM</h2>
  <div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="{{site.team_headshots_uri | relative_url}}Eric_Hambro.png" />
        <div class="card-body">
          <h5 class="card-title">Eric Hambro</h5>
          <p class="card-text">Research Engineer (FAIR)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="{{site.team_headshots_uri | relative_url}}Edward_Grefenstette.png" />
        <div class="card-body">
          <h5 class="card-title">Edward Grefenstette </h5>
          <p class="card-text">Research Scientist (FAIR), Honorary Professor (UCL)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="{{site.team_headshots_uri | relative_url}}Heinrich_Kuttler.png" />
        <div class="card-body">
          <h5 class="card-title">Heinrich Küttler</h5>
          <p class="card-text">Research Engineer (FAIR)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="{{site.team_headshots_uri | relative_url}}Tim_Rocktaschel.png" />
        <div class="card-body">
          <h5 class="card-title">Tim Rocktäschel</h5>
          <p class="card-text">Research Scientist (FAIR), Associate Professor (UCL)</p>
        </div>
      </div>
    </div>
  </div>
</div>
