<div class="social-section-box">
    <div class="social-link-wrapper">
        <a class="social-link" href="{{site.discord_url}}" target="_blank">
            <img class="social-icon" src="{{site.discord_icon | relative_url}}" alt="Discord" />
            Discord
        </a>
    </div>
    <div class="social-link-wrapper">
        <a class="social-link" href="{{site.twitter_url}}" target="_blank">
            <img class="social-icon" src="{{site.twitter_icon | relative_url}}" alt="Twitter" />
            Twitter
        </a>
    </div>
    <div class="social-link-wrapper">
        <a class="social-link" href="{{site.github_url}}" target="_blank">
            <img class="social-icon" src="{{site.github_icon | relative_url}}" alt="GitHub" />
            NLE GitHub
        </a>
    </div>
    <div class="social-link-wrapper">
        <a class="social-link" href="{{site.paper_url}}" target="_blank">
            <img class="social-icon paper" src="{{site.paper_icon | relative_url}}" alt="Paper" />
            NLE Paper
        </a>
    </div>
</div>
