<div class="team-section-container container">
  <h2 class="team-title">TEAM</h2>
  <div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Eric_Hambro.png" />
        <div class="card-body">
          <h5 class="card-title">Eric Hambro</h5>
          <p class="card-text">Research Engineer (FAIR)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Sharada Mohanty.png" />
        <div class="card-body">
          <h5 class="card-title">Sharada Mohanty</h5>
          <p class="card-text">CEO & Co-Founder (AIcrowd)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Dipam Chakraborty.png" />
        <div class="card-body">
          <h5 class="card-title">Dipam Chakraborty</h5>
          <p class="card-text">Machine Learning Engineer (AIcrowd)</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Edward Grefenstette.png" />
        <div class="card-body">
          <h5 class="card-title">Edward Grefenstette </h5>
          <p class="card-text">Research Scientist (FAIR), Honorary Professor (UCL)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Minqi Jiang.png" />
        <div class="card-body">
          <h5 class="card-title">Minqi Jiang</h5>
          <p class="card-text">PhD Student (UCL), Research Assistant (FAIR)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Robert Kirk.png" />
        <div class="card-body">
          <h5 class="card-title">Robert Kirk</h5>
          <p class="card-text">PhD Student (UCL)</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Vitaly Kurin.png" />
        <div class="card-body">
          <h5 class="card-title">Vitaly Kurin</h5>
          <p class="card-text">PhD student (University of Oxford)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Heinrich Küttler.png" />
        <div class="card-body">
          <h5 class="card-title">Heinrich Küttler</h5>
          <p class="card-text">Research Engineer (FAIR)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Vegard Mella.png" />
        <div class="card-body">
          <h5 class="card-title">Vegard Mella</h5>
          <p class="card-text">Research Engineer (FAIR)</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Nantas Nardelli.png" />
        <div class="card-body">
          <h5 class="card-title">Nantas Nardelli</h5>
          <p class="card-text">PhD student (University of Oxford)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Jack Parker-Holder.png" />
        <div class="card-body">
          <h5 class="card-title">Jack Parker-Holder</h5>
          <p class="card-text">PhD student (University of Oxford)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Roberta Raileanu.png" />
        <div class="card-body">
          <h5 class="card-title">Roberta Raileanu</h5>
          <p class="card-text">PhD Student (NYU)</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Tim Rocktäschel.png" />
        <div class="card-body">
          <h5 class="card-title">Tim Rocktäschel</h5>
          <p class="card-text">Research Scientist (FAIR), Associate Professor (UCL)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Danielle Rothermel.png" />
        <div class="card-body">
          <h5 class="card-title">Danielle Rothermel</h5>
          <p class="card-text">Research Engineer (FAIR)</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-image" src="/assets/images/team_headshots/Mikayel Samvelyan.png" />
        <div class="card-body">
          <h5 class="card-title">Mikayel Samvelyan</h5>
          <p class="card-text">PhD Student (UCL), Research Assistant (FAIR)</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div>
    <img class="team-background" src="/images/Team-Background.svg" />
  </div> -->
</div>
